<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="./css/dash.css" rel="stylesheet")
    body
      div#main
        div#nav
          div#nav__centering
            div.nav__feather-c
              img.nav__feather-c__feather(src="https://cdn.robinhood.com/assets/robinhood/shared/favicon_v2.ico" width='500' height='600')
            div.search
              img#magnifying-glass(src="/images/magnifying-glass.png", alt="", srcset="")
            div#free-stocks.nav__free-c
                a(href="/").nav__free-c__free Free Stocks   
            div#portfolio.nav__free-c
                a(href="/").nav__free-c__free Portfolio    
            div.nav__free-c
                a(href="/").nav__free-c__free Cash
            div.nav__free-c
                a(href="/").nav__free-c__free Messages
            div.nav__free-c
                a(href="/").nav__free-c__free Account