<!DOCTYPE html>
html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      script(type="module" src="./javascript/landingPage.js")
      link(href="./css/style.css" rel="stylesheet")
      title Sherwood Wealth Services
    body
      div#main
        div#nav
          div.robin-c
            div.robin-c--fixed
              div.nav__robinhood
                a(href="/")#robinhood Sherwood Wealth Services
                img.robinhood__white-feather(src="https://cdn.robinhood.com/assets/robinhood/shared/favicon_v2.ico" width='500' height='600')
          div.nav__products-c
            div.nav__products-c--fixed
              span.nav__products__span Products
              P.invisible ' ' 
                p.angle ∟
          div.nav__learn-c
            div.nav__learn-c--fixed
              a(href="/").nav__learn-c__learn Learn
          div.nav__support-c
            div.nav__support--fixed
              a(href="/").nav__support-c__support Support
          div#inbetween-space
         
          div.nav__loggin-c
            a(href="/").nav__log-in-c__log-in Log In
          div.sign
            div.nav__sign-nup-c
              a.nav__sign-nup-c__sign-nup Sign Up
              div.eqx-c
                div.eqx-c__c
                  div.eqx-c__top
                  div.eqx-c__bottom  
          
        div#green
          div.grid-c
            div.phone-c
              img.green-phone(src="./images/3x__b51cb4c0082f7a85930fbd59782a6f8e.png", alt="", srcset="")
              <video autoplay="" controlslist="nodownload nofullscreen noremoteplayback" loop="" muted="" playsinline="" preload="auto" class="phone-video"><source src="./images/3x__8a5e77cafdc8af11be3651d08c2ff2a2.mp4" type="video/mp4"><img class="css-1eazbjj" draggable="false" role="presentation" src="https://cdn.robinhood.com/assets/robinhood/brand/1x__d05b6c860541960976715b15872f6027.png" srcset="https://cdn.robinhood.com/assets/robinhood/brand/1x__d05b6c860541960976715b15872f6027.png, https://cdn.robinhood.com/assets/robinhood/brand/2x__cc315b9c078102e16b08ae0e8490ee9f.png 2x, https://cdn.robinhood.com/assets/robinhood/brand/3x__f91478063fabe05577d7e75323c10826.png 3x"></video>
            div.green__title-c
              p.green__title__p Investing for <br> Everyone
              p.green__title__p-2 Investing for Everyone 
              p.green__slogan Sherwood Wealth Services, a pioneer of commission-free investing, gives you more ways to make your money work harder.
            
              div.sign-b
                div.nav__sign-nup-b-c
                  a.nav__sign-nup-b-c__sig-nup Sign Up
        div#break-text-c  
          div#break-text-centering
            p.break-text-c__title Break Free from Commission <br> Fees
            div.break-text-c__c
              p.break-text-c__c__text  Make unlimited commission-free trades in stocks, ETFs, and options with Robinhood Financial, as well as buy and sell cryptocurrencies with Robinhood Crypto. See our fee schedule to learn more about cost.   
        
        div.intro 
          div.intro__c   
            p.intro__c__title Introducing Fractional Shares 
            p.intro__c__pitch Invest in thousands of stocks with as little as $1.
            div.intro__c__args-c
              div
                p
              div
                p
              div
                p
              
          //- img(src="2x__c933308e212fc01d9353f801698d17cd.png", alt="", srcset="")
            
            
      //- h1 Sessions - #{title}
      //- ul
      //-   li: a(href='/') Home
      //-   li: a(href='/about') About
      //-   li: a(href='/contact') Contact
      //- block content
    footer
      //- h2 History
      //- ul
      //-   for item in history
      //-     li: a(href=item)= item