<!DOCTYPE html>
html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      script(type="module" src="./javascript/landingPage.js")
      link(href="./css/landingPageBodyMain.css" rel="stylesheet")
      link(href="./css/landingPageNavBar.css" rel="stylesheet")
      link(href="./css/landingPageGreenPhone.css" rel="stylesheet")
      link(href="./css/landingPageBreak.css" rel="stylesheet")
      link(href="./css/landingPageIntro.css" rel="stylesheet")
      link(href="./css/style.css" rel="stylesheet")
      link(href="./css/landingPageFooter.css" rel="stylesheet")
      link(href="./css/landingPageMediaScreens.css" rel="stylesheet")

      
      title Sherwood Wealth Services
    body
      div#main
        div#nav
          div.robin-c
            div.robin-c--fixed
              div.nav__robinhood
                a(href="/")#robinhood Sherwood Wealth Services
                img.robinhood__white-feather(src="https://cdn.robinhood.com/assets/robinhood/shared/favicon_v2.ico" width='500' height='600')
          div.nav__products-c
            div.nav__products-c--fixed
              span.nav__products__span Products
              P.invisible ' ' 
                p.angle ∟
          div.nav__learn-c
            div.nav__learn-c--fixed
              a(href="/").nav__learn-c__learn Learn
          div.nav__support-c
            div.nav__support--fixed
              a(href="/").nav__support-c__support Support
          div#inbetween-space
         
          div.nav__loggin-c
            a(href="/").nav__log-in-c__log-in Log In
          div.sign
            div.nav__sign-nup-c
              a.nav__sign-nup-c__sign-nup Sign Up
              div.eqx-c
                div.eqx-c__c
                  div.eqx-c__top
                  div.eqx-c__bottom  
          
        div#green
          div.grid-c
            div.phone-c
              img.green-phone(src="./images/3x__b51cb4c0082f7a85930fbd59782a6f8e.png", alt="", srcset="")
              <video autoplay="" controlslist="nodownload nofullscreen noremoteplayback" loop="" muted="" playsinline="" preload="auto" class="phone-video"><source src="./images/3x__8a5e77cafdc8af11be3651d08c2ff2a2.mp4" type="video/mp4"><img class="css-1eazbjj" draggable="false" role="presentation" src="https://cdn.robinhood.com/assets/robinhood/brand/1x__d05b6c860541960976715b15872f6027.png" srcset="https://cdn.robinhood.com/assets/robinhood/brand/1x__d05b6c860541960976715b15872f6027.png, https://cdn.robinhood.com/assets/robinhood/brand/2x__cc315b9c078102e16b08ae0e8490ee9f.png 2x, https://cdn.robinhood.com/assets/robinhood/brand/3x__f91478063fabe05577d7e75323c10826.png 3x"></video>
            div.green__title-c
              p.green__title__p Investing for <br> Everyone
              p.green__title__p-2 Investing for Everyone 
              p.green__slogan Sherwood Wealth Services, a pioneer of commission-free investing, gives you more ways to make your money work harder.
            
              div.sign-b
                div.nav__sign-nup-b-c
                  a.nav__sign-nup-b-c__sig-nup Sign Up
        div#break-text-c  
          div#break-text-centering
            p.break-text-c__title Break Free from Commission <br> Fees
            div.break-text-c__c
              p.break-text-c__c__text  Make unlimited commission-free trades in stocks, ETFs, and options with Robinhood Financial, as well as buy and sell cryptocurrencies with Robinhood Crypto. See our fee schedule to learn more about cost. 
              div.commission-disclosure          
                <svg fill="none" height="28" viewBox="0 0 24 24" width="28" class="commission-disclosure__svg"><circle cx="12" cy="12" r="11" stroke="#6f787e" stroke-width="2"></circle><path d="M11.232 18H13.056V9.52H11.232V18ZM11.2 8.128H13.088V6.32H11.2V8.128Z" fill="#6f787e"></path></svg>  
                span.commission-disclosure__text Commissions Disclosure   
        
        div.intro 
          img#party-shapes(src="./images/partyshapes.png", alt="")
          div.intro__c   
            p.intro__c__title Introducing Fractional Shares 
            p.intro__c__pitch Invest in thousands of stocks with as little as $1.
            div.intro__c__args-c 
              div.args-c-1
                p.args-c-1__p Invest Any Amount 
                p.args-c-1__p-text Choose how much you want to invest, and we’ll convert from dollars to parts of a whole share.
              div.args-c-2 
                p.args-c-2__p Build a Balanced Portfolio 
                p.args-c-2__p-text Customize your portfolio with pieces of different companies and funds to help reduce risk.
              div.args-c-3
                p.args-c-3__p Trade in Real Time 
                p.args-c-3__p-text Trades placed during market hours are executed at that time, so you’ll always know the share price.
              img#balloons(src="./images/2x__c933308e212fc01d9353f801698d17cd.png", alt="", srcset="")
            form(action="/", method="post")
              input(type="hidden" name="_csurf" value="token")
              div.early
                input.early__input(type="text" name="earlyAccessSubmit" placeholder="name@email.com" required) 
                div.early__access
                  div.early__access-c
                    a.early__access-c__early-access Get Early Access
            div.fractional-disclosure          
              <svg fill="none" height="28" viewBox="0 0 24 24" width="28" class="fractional-disclosure__svg"><circle cx="12" cy="12" r="11" stroke="#6f787e" stroke-width="2"></circle><path d="M11.232 18H13.056V9.52H11.232V18ZM11.2 8.128H13.088V6.32H11.2V8.128Z" fill="#6f787e"></path></svg>  
              span.fractional-disclosure__text Fractional Shares Disclosure        
        
        div#black
          div.black-c
            //- nav.black-c__nav
            nav.black-c__nav
              button.black-c__up(type="button")
                div(class="black-c__up__middle")
                  svg#black__up__arrow(fill="#545d61" height="100%" viewBox="0 0 28 28" width="100%" xmlns="http://www.w3.org/2000/svg")
                    path(clip-rule="evenodd" d="M22.3021 16.1979L24.3645 14.1355L14 3.771L3.63544 14.1355L5.69783 16.1979L12.5417 9.3541L12.5417 24.5001L15.4583 24.5001L15.4583 9.35414L22.3021 16.1979Z" fill-rule="evenodd")
              ul.black-c__ul(class="css-1avoduh-VerticalSectionPicker")
                li.black-c__li(class="css-uewl2b")
                  button#learnButton.black-c__button(type="button" class="css-1rxznos-UnstyledButton-VerticalSectionPickerLabel")
                    span.black-c__button___span Learn
                li.black-c__li
                  button#manageButton.black-c__button(type="button" class="css-1rxznos-UnstyledButton-VerticalSectionPickerLabel")
                    span.black-c__button___span Manage
                li.black-c__li(class="css-1itv5e3")
                  button#cusomiseButton.black-c__button(type="button")
                    span.black-c__button___span Customize
                button.black-c__down(type="button")
                  div.black-c__down__middle(class="css-vut8v3-Icon")
                    svg#black__down__arrow(fill="#545d61" height="100%" viewBox="0 0 28 28" width="100%" xmlns="http://www.w3.org/2000/svg")
                      path(clip-rule="evenodd" d="M5.69789 11.8021L3.6355 13.8645L14 24.229L24.3646 13.8645L22.3022 11.8021L15.4583 18.6459L15.4583 3.49993L12.5417 3.49993L12.5417 18.6459L5.69789 11.8021Z" fill-rule="evenodd")
            div.black-c__phone
              div.black__circles
                div.black__circles__1.opt1
                div.black__circles__1.opt2
                div.black__circles__1.opt3
            div.black-c__learn-as
              span.black-c__learn-as__span Learn As You Grow
              p.black-c__learn-as__p 
                span#black-paragraph Our goal is to make investing in financial markets more affordable, more intuitive, and more fun, no matter how much experience you have (or don’t have).
    footer
      div.footer-c
        div.snacks
          span.snacks__ Sherwood Wealth Services
          span Snacks
          
