//- This section is actually on the dashboard screen
//- so the code will need to be combined with the dashboard layout
//- once finished
//- Just seeing that news is also an entire page

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(type="text/javascript" src="./javascript/newsPage.js")
    link(href="./css/news.css" rel="stylesheet")
    title= title
  body
    h1#date
    p Popular Lists
    div.newsContainer
      div.newsContainer__article
        p.article__1 Article 1 - MAIN ARTICLE
      div.newsContainer__article
        p.article__2 Article 2
      div.newsContainer__article
        p.article__3 Article 3
      div.newsContainer__article
        p.article__4 Article 4
      div.newsContainer__article
        p.article__5 Article 5
      div.newsContainer__article
        p.article__6 Article 6
      div.newsContainer__article
        p.article__7 Article 7
      div.newsContainer__article
        p.article__8 Article 8
      div.newsContainer__article
        p.article__9 Article 9
      div.newsContainer__article
        p.article__10 Article 10