doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
        script(type="text/javascript" src="../javascript/portfolioChart.js")
        link(rel="stylesheet" type="text/css" href="../css/portfolioChart.css")

        title Portfolio Chart Test
    body
        div#chart-wrapper
            div#current-balance
                span(id="current-balance__text")
            div#chart_div
