<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="./css/website-navigation.css" rel="stylesheet")
    title Navigating SWS
  body
    div.flexContainer
      div
        h1 SWS Website Navigation Made-Easy
        img.logo(src="../images/favicon_v2.ico")
      div.instructions
        ol
          li.instruction Go to Sherwood Wealth Services at:
            a(href="https://sherwood-wealth-services.herokuapp.com/") 
              span Home
          img(src="../images/LandingPage.png")
          li If already a user or testing product, in the navigation bar, click Log In to head to the login page.
            a(href="https://sherwood-wealth-services.herokuapp.com/login-page") 
              span Log In
          img(src="../images/login.png")
          li If a new user, in the navigation bar, click "Sign Up" to head to the Registration page
            a(href="https://sherwood-wealth-services.herokuapp.com/signup") 
              span Sign Up
          img(src="../images/SignUp.png")
          li Once logged in as an actual user or demo user, you should end up on the dashboard page, which houses the graph of most recent stock activity, a news feed, the stocks you currently hold, and a watchlist of stocks if applicable to user.
            a(href="https://sherwood-wealth-services.herokuapp.com/dashboard") 
              span Dashboard
          img(src="../images/Dashboard.png")
          li If interested in more articles related to the stock market, there is a page dedicated to the News feed. This page also displays popular lists of stocks that are currently trending for one reason or another. See it at:
            a(href="https://sherwood-wealth-services.herokuapp.com/news") 
              span News
          img(src="../images/NewsFeed.png")
          li To search for specific stocks, simply start typing characters into the search bar. After a minimum of two characters have been entered, companies that you are potentially searching for will begin to popup. To go directly to the search page, simply head to the following link:
            a(href="https://sherwood-wealth-services.herokuapp.com/search") 
              span Search
          img(src="../images/Search.png")
          li When you have purchased your stocks, read your news feed, looked at the price history of a few companies, and are satisfied with your investments, it's time to log out, which once done, will redirect you to the login page.
            a(href="https://sherwood-wealth-services.herokuapp.com/login-page") 
              span Log Out
          img(src="../images/login.png")