div#chart-wrapper {
    width: 680px;
    /* background-color: tomato; */
    position: relative;
    top: 100px;
    left: 80px;
    z-index: 10;
    /* border: 1px solid blue; */
    /* margin-bottom: 20px; */
}

div#current-price {
    background-color: transparent;
    width: auto;
    margin-bottom: 40px;
}

div#current-price > span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

div#current-price > span#percent-diff {
    font-size: 14px;
}

div#chart_div {
    position: relative;
}
div.google-visualization-tooltip {
    background-color: transparent;
    position: absolute !important;
    top: -35px !important;
    border: 0;
    margin-left: 80px;
    box-shadow: none;
}

.google-visualization-tooltip-item-list .google-visualization-tooltip-item:first-child {
    display: none
}

div.google-visualization-tooltip-square {
    display: none
}

/* <style>div.google-visualization-tooltip {background-color: transparent};</style> */
