
#nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
    top: 0px;
    background-color: whitesmoke;
    /* background-color: black; */
    border: 1px solid violet;
    margin: 0px;  
    position: fixed; 
    z-index: 11;
    left: 0px;
}
#nav__centering {
    width: 95%;
    height: 100%;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 500px;
}
.nav__feather-c {
    /* width: 28px; */
    height: 50px;
    /* border: 1px solid green; */
    margin-left: 7px;
    position: relative;
    top: 5px;

}
.nav__feather-c__feather {
    position: relative;
    top: 4px;
    width: 28px;
    height: 28px;
    color: black;
    filter: brightness(0.0);
}
.search {
    height: 30px;
    width: 100%;
    margin-left: 14px;
    border: 1px solid rgb(255, 0, 0);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-shrink: -1;
}
#magnifying-glass {
    height: 18px;
    margin-left: 20px;
}
.nav__free-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    left: 470px;
    width: 150px;
    border: 1px solid blue;
    margin-right: 14px;
}
.nav__free-c *:hover,
.right-display-c__drop-down__content a:hover {
    color: rgb(0,200,5);
}
.right-top__cirlces-c *:hover {
    background-color: rgb(0,200,5);
}
.nav__feather-c__feather:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(10deg) brightness(104%) contrast(97%);
}
#shrink-space-free {
    width: 200px;
    flex-shrink: 1.3;
}
#free-stocks {
    min-width: 100px;   
}
.nav__free-c__free {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    letter-spacing: -0.25px;
    font-size: 11px;
    font-weight: 600;
    text-decoration:none;
    color: black;
    flex-shrink: 2;
    flex-grow: 2;
    margin-left: 7px;
}
#dash-grid {
    display: grid;
    grid-template-columns: 40px 800px 400px 40px;
    grid-template-rows:70px 700px;

}
.dash-gridz__grid-space {
    border: 1px solid rgb(255, 0, 140);
}
.right-display-c {
    height: 475px;
    width: 250px;
  
    position: fixed;
    top: 100px;
    left: 875px;
    box-shadow: 0px 0px 13px  rgb(169, 169, 169);
    overflow-y: scroll;
}
.right-display-c__display {
    height: 800px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.right-display-c__display__content {
   width: 100%;
   height: 50px;
   border-bottom: 1px solid rgb(165, 165, 165);
}
#right-top {
  width: 100%px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.right-top__cirlces-c {
    width: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}
.right-top__circles-c__circles {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: lightslategrey;
}
.right-display-c__drop-down {
    width: 150px;
    height: 235px;
    position: fixed;
    top: 150px;
    left: 975px;
    background-color: white;
    box-shadow: 0px 0px 13px  rgb(169, 169, 169);
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.right-display-c__drop-down__content {
    position: fixed;
    width: 150px;
    height: 45px;
    border-bottom: 1px solid slategray;
}
.right-display-c__drop-down a {
    color: rgb(4,13,20);
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    letter-spacing: -0.25px;
    font-size: 12px;
    font-weight: 600;
}
#display {
    position: fixed;
    top: 165px;
    left: 995px;
    color: rgb(4,13,20);
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    letter-spacing: -0.25px;
    font-size: 14px;
    font-weight: 700;
}
#last-price {
    position: fixed;
    top: 210px;
    left: 990px;
}
#your-equity {
    position: fixed;
    top: 255px;
    left: 990px;
}
#todays-return {
    position: fixed;
    top: 300px;
    left: 990px;
}
#total-return {
    position: fixed;
    top: 345px;
    left: 990px;
}

.left-display-c {
    height: 600px;
    width: 680px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    position: fixed;
    top: 70px;
    left: 125px;
    overflow-y: scroll;
}
.left-display-c__display {
    height: 1500px;
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.left-display-c__display__content {
   width: 100%;
   height: 100px;
   border-bottom: 1px solid rgb(165, 165, 165);
}
.hidden {
    visibility: hidden;
}
#empty-space-news {
    height: 100px;
    width: 680px;
}
.news-c {
    /* margin-left: 40px; */
}


