body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;



}
#main {
    width: 100%;
    /* width: 100vw ; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
