/* @media screen and (max-width: 2000) {
    .green-phone,
    .phone-video {
          left: 100px;
          
          width: 600px;
          height: 600px;
     
     }
} */
@media screen and (min-width: 1279) {
    .green-phone,
    .phone-video {
 
        height: 200% !important;
        width: 200% !important;
     
     }
     .black__circles {
         visibility: hidden;
     }
}




@media screen and (min-width: 1025px) {
    .nav__products-c *,
    .nav__learn-c *,
    .nav__support-c *,
    .nav__loggin-c *,
    #inbetween-space,
    .nav__sign-nup-c *,
    .eqx-c *,
    .green__title__p,
    #balloons {
        visibility: visible;
    }
    .eqx-c *,
    .green__title__p-2,
    #party-shapes {
    
        visibility: hidden;
    }
    .grid-c {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1px 1fr;
    }
    .intro {
        height: 530px;
    }
    .intro__c {
        top: -80px;
    }
    .hide {
        position: absolute;
    }
    .black__circles {
        visibility: hidden;
    }
    
}
@media screen and (max-width: 1024px) {
    .nav__products-c *,
    .nav__learn-c *,
    .nav__support-c *,
    .nav__loggin-c *,
    #inbetween-space,
    .nav__sign-nup-c *,
    .green__title__p,
    #balloons,
    .black-c__nav {
        visibility: hidden;
    }
    .eqx-c *,
    .green__title__p-2,
    #party-shapes {
    
        visibility: visible;
    }
    .grid-c {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .green__title-c {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        margin: 0px 30px 0px 30px;
        overflow: visible;
    }
    .phone-c {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        /* position: absolute; */
        /* top: 350px; */
        
    }
    .green-phone,
    .phone-video {
        left: -250px;
        width: 130%;
        /* width: 60%; */
    }
    .nav__sign-nup-b-c {
        margin-top: -120px;
    }
    .green__slogan {
        position: relative;
        top: -80px;
        
    }
    /* .green-phone {
        width: 60%;
    }
    .phone-video {
        width: 60%;
    } */
    .intro__c__args-c {
        flex-direction: column;
    }
    .args-c-1,
    .args-c-2,
    .args-c-3 {
        width: 93%;
    }
    .intro {
        height: 750px;
        /* background-color: darkmagenta; */
    }
    .black-c {
        flex-direction: column;
        /* align-items: flex-start; */
    }
    .black-c__phone {
        min-height: 300px;
        /* height: 300px; */
        width: 150px;
        background-size: 150px 300px;
        position: relative;
        top: -180px;
    }
    .black-c__learn-as__span {
        font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -0.36px;

    }
    .black-c__learn-as {
        width: 87%;
        position: relative;
        top: -100px;
        left: -30px;
        margin-left: 0px;
    }
    .footer-c {
        grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 60px;
        grid-template-rows: 40px 70px 150px 60px 300px 140px 180px 200px 100px;
        height: 1300px;
    }
    .footer-c__snacks-c {
        margin-left: 0px;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 2;
    } 
    .footer-c__p-c {
        width: 100%;
    }
    .sub-form {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 3;
        /* background-color: royalblue; */
        position: relative;
        left: -30px;
        top: 40px;
        margin: 0px;
        /* opacity: 50%; */
    }
    .sub__access {
        position: absolute;
        top: 65px;
        width: 100%;
        height: 48px;
        /* background-color: yellow; */
    }
    .sub__access-c {
        width: 100%;
        /* background-color: tomato; */
        height: 48px;
    }
    .sub__access-c__sub-access{
        padding: 0 36px;
        height: 48px;
        border-radius: 24px;
        /* background-color: rgb(0,200,5); */
        font-weight: 700;
        margin-right: 0px;
        width: 80%;
   
    }
    .footer-c__link1 {
        /* background-color: lightpink; */
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5; 
        margin-left: 0px; 
        
    }
    .footer-c__link {
        /* background-color: darkseagreen;  */
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 5;
        margin-left: 0px;  
    }
    .footer-c__link2 { 
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 7;
        align-items: flex-start;
        /* background-color: crimson; */
        margin-left: 0px;
    }
    .footer-c__link3 {
        /* background-color: lightseagreen;   */
        grid-column-start: 6;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 5;
        margin-left: 0px; 
    }
    .footer-c__bottom {
        margin-left: 0px;
        grid-row-start: 8;
        grid-row-end: 8;
        grid-column-start: 2;
        grid-column-end: 7;
    }
    .fractional-disclosure-grid {
        grid-row-start: 9;
        grid-row-end: 9;
        grid-column-start: 1;
        grid-column-end: 5;
        top: 40px;
    }
    .line {
    top: 3440px;
}
}
@media screen and (max-width: 764px) {
    .green__title__p-2 {
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
        position: absolute;
        top: 70px;
        left: 30px;
    }
    .nav__sign-nup-b-c {
        visibility: hidden;
    }
    .green__slogan {
        position: relative;
        top: -150px;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.21px;
    }
  
    .green-phone,
    .phone-video {
        left: 100px;
        /* top: 30px; */
        width: 100%;
     
    }
   
    .phone-c {
        position: absolute;
        top: 350px;
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .intro__c {
        margin-top: 90px;
    }
    .intro {
        height: 800px;
    }
    .black-c__learn-as {
        margin-left: 55px;
    }
    .black-c__learn-as__span {
        margin: 0;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: -0.24px; 
    
    }
    .footer {
        height: 1400px;
    }
    .footer-c {
        height: 1625px;
        grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 30px;
        grid-template-rows: 40px 100px 120px 90px 220px 135px 250px 200px 325px 100px;
    }
    .sub__access {
        position: absolute;
        top: 70px;
        width: 100%;
        height: 48px;
        /* background-color: yellow; */
    }
    .sub__access-c {
        width: 100%;
        /* background-color: tomato; */
        height: 48px;
    }
    .footer-c__link1 {
        color: #ffffff;
        font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.25px;
        margin: 0px 0px 0px 30px;
        color: #ffffff;
        margin-left: 0px;
        /* background-color: lightpink; */
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 5;   
    }
    .footer-c__link {
        color: #ffffff;
        font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.25px;
        /* background-color: darkseagreen;  */
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;  
    }
    .footer-c__link3 {
        font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.25px;
        /* background-color: lightseagreen;   */
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 7;
        grid-row-end: 7; 
    }
    .footer-c__link2 { 
        grid-column-start: 2;
        grid-column-end: 7;
        grid-row-start: 8;
        grid-row-end: 8;
        /* align-items: flex-start; */
        display: flex;
        justify-content: flex-start;
        /* background-color: crimson; */
        margin-left: 0px;
    }
    .footer-c__linkz__holder2 a {
        text-align: left;
        margin-left: 0px;
        margin: 0px 0px 7px 0px;
        color: #ffffff;
        font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.25px;

    
    }
    .footer-c__bottom {
        grid-row-start: 9;
        grid-row-end: 9;
        grid-column-start: 0;
        grid-column-end: 8;
        
    }
    .fractional-disclosure-grid {
        grid-row-start: 10;
        grid-row-end: 10;
    }
    .line {
        top: 3935px;
    }
    
}