body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(195,245,60);



}
#main {
    max-width: 1400px;
    /* width: 100vw ; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

}
#instructions,
#instructions a {
    position: fixed;
    top: 2px;
    left: 5px;
    color: rgb(0, 0, 0);
    z-index: 40;
    color: rgb(109, 109, 109);
    text-decoration: none;
}
