.hidden {
    display: none;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.line-break {
    width: 100%;
    height: 0;
  }

.create-line {
    width: 63%;
    height: 0;
    margin-top: 20px;
    border-top: lightgrey solid 1px;
}

.create-fullline {
    width: 100%;
    height: 0;
    /* margin-top: 20px; */
    border-top: lightgrey solid 1px;
}

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 63%;
    font-style: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hideItem {
    display:none;
}

.logo {
    margin-top: 20px;
    /* max-width: 50px; */
}

.header_bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    left: 130px;
    background-color: white;
    /* border: black 1px dotted; */
    width: 59%;
    z-index: 1;
    top: -5px;
    padding-top: 15px;
}

.header_flavicon {
    margin-right: 75px;
    padding-top: 5px;
    padding-left:50px;
}


.newsPage {
    width: 63%;
    font-size: 10px;
}

.newsTitle {
    font-size: 27px;
}

.newsHeadline {
    font-size: 22px;
}

.newsSummary {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#purchase-form {
    margin-left: 5px;
    display: flex;
    -webkit-box-shadow: 0px 0px 26px -2px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 26px -2px rgba(184,184,184,1);
    box-shadow: 0px 0px 26px -2px rgba(184,184,184,1);
    position: sticky;
    margin-top: 50px;
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

#buy-stock.tabcontent {
    display: flex;
    flex-direction: column;
    width: 200px;
    /* justify-content: space-around; */
}
#button-wrapper {
    /* align-self: flex-start; */
    margin-bottom: 50px;
}

.searchBar__stocks {
    height: 37px;
    width: 450px;
    margin: 0px 0 20px 0;
    /* border-top: 5px; */
  }

.industry_icon {
	background:linear-gradient(to bottom, #44c767 5%, #bd2a2a 100%);
	background-color:#44c767;
	border-radius:15px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:7px 25px;
    text-shadow:0px 1px 0px #2f6627;
    transition: 1s;

}
.industry_icon:hover {
	background:linear-gradient(to bottom, #bd2a2a 5%, #44c767 100%);
    background-color:#bd2a2a;
}
.industry_icon:active {
	position:relative;
	top:1px;
}

.buyLabels {
    /* align-self: center; */
    margin: 25px 0 50px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}


#buy-tab__button {
    background-color: white;
    color: grey;
    border: 1px solid transparent;
    /* border-radius: 4px; */
    height: 50px;
    width: 50%;
    align-items: center;
    cursor: pointer;
    /* margin: 0 5px; */
    text-transform: uppercase;
    transition-duration: 1000ms;
}

#transaction-form__buy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* width: auto;
    height: auto; */
    justify-content: space-around;
    align-items: center;
}

#estimate-cost {
    align-items: center;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: bold;
}

.marketPriceLabel {
    color:green;
}

#buy-tab__button:hover {
    color: whitesmoke;
    background-color: #2FC802;
}

.flavorText {
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#buy-button {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:4px;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
    height: 10%;
    transition-duration: 500ms;
}
#buy-button:active {
    background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    outline: none !important;
    background-color:#5cb811;

}
/* #buy-button:active {
	position:relative;
    top:1px;
    border-bottom: #18ab29;
} */

#buy-button:focus {
	position:relative;
    top:1px;
    border-bottom: #18ab29;
}

#shares-or-dollars {
    display: flex;
    justify-content: center;
    margin: 0px 5px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#number-shares__buy {
    /* /* margin: 0px 5px; */
    /* margin-left: 25px;; */
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 3px rgba(66,66,66,.75);
    text-shadow: 0px 0px 1px rgba(66,66,66,.75);
    text-align: right;
    width: 50px;
    height: 25px;
    margin-left: 15px;
    margin-bottom: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#sell-tab__button {
    /* background-color: red; */
    color: grey;
    border: 1px solid transparent;
    /* border-radius: 4px; */
    height: 50px;
    width: 50%;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    transition-duration: 1000ms;
}

#sell-tab__button:hover {
    color: whitesmoke;
    background-color:#fa7249;
}

title {
    text-transform: uppercase;
}
