body {
    margin: 0; 
    height: 100%;
    overflow-x: hidden;
}
#main {
    height: 3000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
    /* position: fixed; */
    /* -webkit-box-align: center; */
    top: 0px;
    background-color: whitesmoke;
    /* border: 1px solid violet; */
    margin: 0px;  
    position: fixed; 
    z-index: 3;
    left: 0px;
}
.robin-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
}
.robin-c--fixed {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    position: fixed;
    left: 10px;
}
.nav__robinhood {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    flex-basis: 350px;
    flex-shrink: 0;
    
    flex-basis: 350px;
    flex-grow: 2;
    
    
}
#robinhood {
    text-decoration:none;
    color: black;
    border: none;
    font-size: 26px;
    margin-left: 10px;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    letter-spacing: -0.25px;
    position: relative;
    
}
.robinhood__white-feather {
    position: relative;
    top: 4px;
    width: 28px;
    height: 28px;
    color: black;
    filter: brightness(0.0);
}
.nav__products-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav__products-c--fixed {
    display: flex;
    align-items: center;
    /* margin: 0px 10px 0px 10px; */
    flex-shrink: 3;
    flex-grow: 2;
    width: 150px;
    position: fixed;
    left: 370px;
}
.nav__products__span {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    letter-spacing: -0.25px;
    font-size: 18px;
    /* margin-left: 48px; */
}
.angle {
    transform: rotate(-45deg);
}
.invisible {
    opacity: 0;
}
.nav__learn-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav__learn-c--fixed {
    width: 150px;
    position: fixed;
    left: 470px;
}
.nav__learn-c__learn {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    letter-spacing: -0.25px;
    font-size: 18px;
    text-decoration:none;
    color: black;
    /* margin-left: 48px; */
    flex-shrink: 2;
    flex-grow: 2;
    margin-left: 7px;
}
.nav__support-c {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav__support--fixed {
    width: 150px;
    position: fixed;
    left: 530px;
}
.nav__support-c__support {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    letter-spacing: -0.25px;
    font-size: 18px;
    text-decoration:none;
    color: black;
    /* margin-left: 48px; */
    flex-shrink: 2;
    flex-grow: 2;
    margin-left: 7px;
}
#inbetween-space {
    width: 225px;
    flex-shrink: 3;
}
.eqx-c {
    /* min-width: 45px; */
    min-height: 40px;
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* margin-right: 50px; */
    position: absolute;
}
.eqx-c__c {
    /* background-color: lightcoral; */
    height: 40px;
    width: 40px;
}
.eqx-c__top {
    width: 35px;
    height: 3px;
    background-color: black;
    transition: transform 1s;
    position: absolute;
    transition-property: margin-top transform;
    transition-duration: 1s;
    border-radius: 30%;
    top: 13px;  
}
.eqx-c__bottom {
    width: 35px;
    height: 3px;
    background-color: black;
    position: absolute;
    transition-property: margin-bottom transform;
    transition-duration: 1s;
    border-radius: 30%;
    top: 30px;
}
.rotate-r {
    transform: rotate(45deg);
    top: 16px;
}
.rotate-l {
    transform: rotate(-45deg);
    top: 16px;  
}
.nav__loggin-c {
    min-width: 100px;
}
.nav__log-in-c__log-in {
    
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    letter-spacing: -0.25px;
    text-decoration:none;
    color: black;
    font-weight: 700;
   
}
.sign {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    height: 48px;
    /* background-color: indigo; */
}
.nav__sign-nup-c {
    min-width: 150px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav__sign-nup-c__sign-nup{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 36px;
    height: 48px;
    border-radius: 24px;
    background-color: rgb(0,200,5);
    font-weight: 700;
    margin-right: 15px;
    /* position: fixed; */
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.25px;


}

#green {
    height: 940px;
    width: 100%;
    background-color: rgb(195,245,60);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
}
.grid-c {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1px 1fr;
    /* background-color: magenta; */
    margin: 0px; 
}
.phone-c {
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 3;
    

}
.green-phone {
    /* height: 50%; */
    width: 400px;
    position: absolute;
    z-index: 2;
    
}
.phone-video {
    /* height: 50%; */
    width: 400px;
    object-fit: contain;
    pointer-events: none;
    position: absolute;
    border: 1px solid transparent;
    box-sizing: border-box;
}
.green__title-c {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    overflow: hidden;
    flex-wrap: wrap;
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 3;
    height: 100%;
    margin-left: 30px;
    /* background-color: lightskyblue; */
    max-width: 500px;
    margin-right: 30px;
}
.green__title__p {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.green__title__p-2 {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.green__slogan {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.24px;
    text-decoration: unset;
    color: #040d14;
    margin-top: 0px;
}
.sign-b {
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top: 0px; */
    height: 48px;
    /* background-color: indigo;  */
    /* z-index: 4; */
}
.nav__sign-nup-b-c {
    min-width: 150px;
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.nav__sign-nup-b-c__sig-nup{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 36px;
    height: 48px;
    border-radius: 24px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.25px;
    /* margin-right: 15px; */
    /* position: fixed; */


}
#break-text-c {
    min-height: 420px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
  
}
#break-text-centering {
    margin-top: 35px;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.break-text-c__title {
    text-align: center;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.36px;
    margin: 0;
    color: #040d14;
}
.break-text-c__c {
    width: 470px;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.break-text-c__c__text {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.1px;
    text-align: center;
}
.intro {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-bottom: 1px solid black;
}
.intro__c {
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
}
.intro__c__title {
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.36px;
    margin-left: 30px;
    margin-bottom: 12px;
}
.intro__c__pitch {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.1px;
    margin-left: 30px;
    margin-top: 0px;
}
.intro__c__args-c {
    
}
@media screen and (max-width: 1024px) {
    .nav__products-c *,
    .nav__learn-c *,
    .nav__support-c *,
    .nav__loggin-c *,
    #inbetween-space,
    .nav__sign-nup-c *,
    .green__title__p {
        visibility: hidden;
    }
    .eqx-c *,
    .green__title__p-2 {
    
        visibility: visible;
    }
    .grid-c {
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    }
    .green__title-c {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    margin: 0px 30px 0px 30px;
    overflow: visible;
    }
    .phone-c {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        /* position: absolute; */
        /* top: 350px; */
    }
    .nav__sign-nup-b-c {
        margin-top: -120px;
    }
    .green__slogan {
        position: relative;
        top: -80px;
        
    }
    .green-phone {
        width: 60%;
    }
    .phone-video {
        width: 60%;
    }
    
 
}
@media screen and (min-width: 1024px) {
        .nav__products-c *,
    .nav__learn-c *,
    .nav__support-c *,
    .nav__loggin-c *,
    #inbetween-space,
    .nav__sign-nup-c *,
    .eqx-c *,
    .green__title__p {
        visibility: visible;
    }
    .eqx-c *,
    .green__title__p-2 {
    
        visibility: hidden;
    }
    .grid-c {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1px 1fr;
    }
    /* .eqx-c *,
    .green__title__p-2 {
        visibility: hidden;
    } */
    /* .green__title__p {
        visibility: visible;
    } */
}
@media screen and (max-width: 764px) {
    .green__title__p-2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    position: absolute;
    top: 70px;
    left: 30px;
    }
    .nav__sign-nup-b-c {
        visibility: hidden;
    }
        .green__slogan {
        position: relative;
        top: -150px;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.21px;
    }
        .green-phone {
        width: 100%;
    }
        .phone-video {
        width: 100%;
    }
    .phone-c {
        position: absolute;
        top: 350px;
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 3;
    }


}


