
#black {
    height: 650px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.black-c {
    height: 610px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.black-c__nav {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px 40px 0px 0px;
}
.black-c__up {
    background: none;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    outline:none;
}
.black-c__up__middle {
    height: 28px;
    width: 28px;
    line-height: 0;
    overflow: hidden;
}
#black__up__arrow {
    clip-rule: evenodd;
    /* d: path("M 22.3021 16.1979 L 24.3645 14.1355 L 14 3.771 L 3.63544 14.1355 L 5.69783 16.1979 L 12.5417 9.3541 L 12.5417 24.5001 L 15.4583 24.5001 L 15.4583 9.35414 L 22.3021 16.1979 Z"); */
    fill-rule: evenodd;
    
}
.black-c__ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding: 0px;
    margin: 16px 0px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    background-color: none;
} 
.black-c__li {
    margin-bottom: 20px;
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    background-color: none;
}
.black-c__down {
    background: none;
    border-width: 0px;
    padding: 0px;
    margin: 0px;
    outline:none;
}
.black-c__down__middle {
    height: 28px;
    width: 28px;
    line-height: 0;
    overflow: hidden;
    
}
#black__down__arrow {
    clip-rule: evenodd;
    fill-rule: evenodd; 
    
}
.black-c__button {
    margin: 0em;
    list-style: none;
    background-color: none;
    background-color: Transparent;
    border: none;
    outline:none;
}
.black-c__button___span {
    font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    color: rgb(84, 93, 97);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.24px;
    margin: 0px;
    background-color: none;
}
#black__down__arrow:hover ,
#black__up__arrow:hover ,
#black__down__arrow:focus,
#black__up__arrow:focus {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(100deg) brightness(104%) contrast(97%);
}
.black-c__button___span:hover {
    color: rgb(0,200,5);
}
.black-c__phone {
    height: 500px;
    width: 250px;
    background-image: url(/images/phoneTrailing.png);
    background-size: 250px 500px;
}
.margin-left-transition {
    transition-property: margin-left;
    transition-duration: 0.5s;
}
.swipe-left {
    margin-left: -1600px;
}
.warp-right {
    margin-left: 1600px;
}
.margin-top-transition {
    transition-property: margin-top;
    transition-duration: 0.4s;
}
.swipe-top {
    margin-top: -1600px;
}
.warp-bottom {
    margin-top: 1600px;
}
.phone-screen1 {
    background-image: url(/images/phoneTrailing.png);
}
.phone-screen2 {
    background-image: url(/images/phoneSellroar.png);
}
.phone-screen3 {
    background-image: url(/images/phoneMessages.png);
}
.black-c__learn-as {
    width: 450px;
    margin: 0px 0px 0px 60px;  
}
.black-c__learn-as__span {
    font-family: "Capsule Sans Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 72px;
    letter-spacing: -2.4px;
    color: white;
}
.black-c__learn-as__p {
    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    color: white;
    letter-spacing: -0.1px;
}
.black__circles {
    min-height: 30px;
    min-width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rosybrown; */
    position: absolute;
    bottom: -50px;
    left: 15px;

}
.black__circles__1 {
     height: 15px;
     width: 15px;
     border: 2px solid rgb(255, 255, 255);
     border-radius: 50%;
}
.white {
    background-color: white;
}





